<%= page_heading "Edit Reference Folder" %>

<%= render 'form', form_location: "edit" %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'Show Folder', folder_path(@folder)  %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Folders', folders_path  %></button>
</div>
