<p id="notice"><%= notice %></p>

<%= page_heading "Reference Folders" %>

<% if !(@folders.empty?) %>
  <table class="folders">
    <thead>
      <tr>
        <th>Folder Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @folders.each do |folder| %>
        <tr>
          <td><%= link_to folder.name, folder %></td>
          <% if folder.deletable %>
            <td><%= link_to 'Edit', edit_folder_path(folder) %></td>
            <td><%= link_to 'Delete', folder, method: :delete, data: { confirm: 'Are you sure? All items associated with this folder will be reassigned to the General Reference Folder.' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<% end %>

<div class="nav_links">
  <button class="button" type="button"><%= link_to 'New Folder', new_folder_path %></button>
</div>
