<%= semantic_form_for [@project,@task], :html => { class: "tag_task_form" } do |f| %>
  <%= f.inputs do %>
    <%= f.label "Tags", class:"tag_label" %><br />
    <ul class="checkbox-grid">
      <% @tags.each do |tag| %>
        <li>
          <label>
            <%= check_box_tag "tags[]", tag.id, false, class: "checkbox" %>
            <%= tag.name %>
          </label>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, as: :input, label: "Save Tags", button_html: { class: "button" } %>
  <% end %>
<% end %>
