<p id="notice"><%= notice %></p>

<%= page_heading "#{@task.name}" %>

<div class="task_show_page">
  <p>
    <strong>Project:</strong>
    <%= @project.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @location.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @task.description %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= Task.time_names.key(Task.times[@task.time]) %>
  </p>

  <p>
    <strong>Energy:</strong>
    <%= @task.energy %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= @task.completed %>
  </p>
</div>

<% if !(@tags.empty?) %>
  <p>
    <strong>Tags:</strong>
    <% @tags.each do |tag| %>
      <%= link_to tag.name, tag %>
    <% end %>
  </p>
<% end %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'Edit Task', edit_project_task_path(@project,@task) %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Add/Remove Tags', edit_tags_project_task_path(@project,@task) %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Add Another Task', new_project_task_path(@project, location_id: @location) %></button>
  <% if @task.completed? %>
    <button class="button <%=@mode %>" type="button"><%= link_to 'Mark Task Uncompleted', uncomplete_project_task_path(@project,@task) %></button>
  <% end %>
  <% if !(@task.completed?) %>
    <button class="button <%=@mode %>" type="button"><%= link_to 'Mark Task Completed', complete_project_task_path(@project,@task) %></button>
  <% end %>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Project', project_path(@project) %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Location', location_path(@location) %></button>
</div>
