<div class="added_task">
  If there's more steps for this item that need to be turned into Tasks:
  <br>
  <button class="button <%=@mode%>" type="button"><%= link_to "Add Task to the same Project", develop_inbox_path(@inbox, item: item, next_step: "add_task", project_id: @project) %></button>
  <br>
  Move on to the next item:
  <br>
  <button class="button <%=@mode%>" type="button"><%= link_to "Delete Item", develop_inbox_path(@inbox, item: item, next_step: "delete"), data: { confirm: "Confirm deletion?" } %></button>
  <button class="button <%=@mode%>" type="button"><%= link_to "Go to Next Item (without Deleting)", develop_inbox_path(@inbox, item: item, next_step: "next") %></button>
</div>
