<div class="reference">
  If there are reference items to add to the new Folder to add from item this item:
  <br>
  <button class="button <%=@mode%>" type="button"><%= link_to "Add Reference Item to the Folder", develop_inbox_path(@inbox, item: item, next_step: "add_ref_item", folder_id: @folder) %></button>
  <br>
  <br>
  Move on to the next item:
  <br>
  <button class="button <%=@mode%>" type="button"><%= link_to "Delete Item", develop_inbox_path(@inbox, item: item, next_step: "delete"), data: { confirm: "Confirm deletion?" } %></button>
  <button class="button <%=@mode%>" type="button"><%= link_to "Go to Next Item (without Deleting)", develop_inbox_path(@inbox, item: item, next_step: "next") %></button>
</div>
