<%= semantic_form_for @user, :html => { class: "user_form" } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.inputs do %>
    <%= f.input :email, :required => true  %>
    <%= f.input :name, :required => true  %>
    <%= f.input :password, :required => true %>
    <%= f.actions do %>
      <%= f.action :submit, as: :input, :button_html => { class: "button" }  %>
    <% end %>
  <% end %>
<% end %>
