<p id="notice"><%= notice %></p>

<%= page_heading "#{@project.name}" %>

<% if @project.deletable? %>
  <%= link_to 'Edit Project', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Add Task', new_project_task_path(@project, location_id: @default_location) %>

<% if @project.deletable? %>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<% end %>

<% if !(@tasks.empty?) %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Completed?</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.order(:completed).each do |task| %>
        <tr>
          <td><%= link_to task.name, task %></td>
          <td><%= task.completed %></td>
          <td><%= link_to 'Edit', edit_project_task_path(@project,task) %></td>
          <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

  <br>

<% if @project.deletable? %>
  <%= link_to 'Delete project', @project, method: :delete, data: { confirm: 'Are you sure? All tasks associated with this project will also be deleted (Projects can be archived instead).' } %> |
<% end %>
<% if @project.archived? %>
  <%= link_to 'Unarchive project', unarchive_project_path(@project) %> |
<% end %>
<% if @project.deletable? && !(@project.archived?) %>
  <%= link_to 'Archive project', archive_project_path(@project) %> |
<% end %>
<%= link_to 'Back to projects', projects_path %>
