<p id="notice"><%= notice %></p>

<%= page_heading "#{@project.name}" %>

<div class="nav_links">
  <% if @project.deletable? %>
    <button class="button" type="button"><%= link_to 'Edit Project', edit_project_path(@project) %></button>
  <% end %>
  <button class="button" type="button"><%= link_to 'Add Task', new_project_task_path(@project, location_id: @default_location) %></button>
</div>

<% if @project.deletable? %>
  <div class="project_show_page">
    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
  </div>
<% end %>

<%= render 'task_table', tasks: @tasks, proj_name: false, loc_name: true, options: false, time_en: true, selecting: false %>
<br>

<div class="nav_links">
  <% if @project.deletable? %>
    <button class="button" type="button"><%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure? All tasks associated with this project will also be deleted (Projects can be archived instead).' } %></button>
  <% end %>
  <% if @project.archived? %>
    <button class="button" type="button"><%= link_to 'Unarchive Project', unarchive_project_path(@project) %></button>
  <% end %>
  <% if @project.deletable? && !(@project.archived?) %>
    <button class="button" type="button"><%= link_to 'Archive Project', archive_project_path(@project) %></button>
  <% end %>
  <button class="button" type="button"><%= link_to 'Back to Projects', projects_path %></button>
  <button class="button" type="button"><%= link_to "Mass Assign Tags", mass_assign_path(task_ids: @ids, from: "project_#{@project.id}") %></button>
</div>
