<p id="notice"><%= notice %></p>

<%= page_heading "Tags" %>

<% if !(@tags.empty?) %>
  <table class="tags <%=@mode%>">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= link_to tag.name, tag %></td>
          <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
          <td><%= link_to 'Delete', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<% end %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'New Tag', new_tag_path %></button>
</div>
