<p id="notice"><%= notice %></p>

<%= page_heading "#{@tag.name}" %>

<%= render 'task_table', tasks: @tasks, proj_name: true, loc_name: true, options: false, time_en: false, selecting: false %>
<br>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'Edit Tag', edit_tag_path(@tag) %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Tags', tags_path %></button>
</div>
