<%= semantic_form_for [@inbox, @item] do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.inputs do %>
    <%= f.input :name, required: true %>
    <%= f.input :content%>
    <%= f.select(:inbox_id, options_for_select(@inboxes.map{|t| [t.name, t.id]}, @inbox.id)) %>
    <%= f.actions do %>
      <%= f.action :submit, label: "Save Item" %>
    <% end %>
  <% end %>
<% end %>
