<%= page_heading "Edit Item" %>

<%= render 'form' %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'Show Item', inbox_item_path(@inbox,@item) %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Bin', @inbox %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Bins', inboxes_path %></button>
</div>
