<%= page_heading "New Item" %>

<%= render 'form' %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Bin', @inbox %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Bins', inboxes_path %></button>
</div>
