<p id="notice"><%= notice %></p>

<%= page_heading "#{@item.name}" %>

<div class="nav_links">
  <button class="button" type="button"><%= link_to 'Edit Item', edit_inbox_item_path(@inbox,@item) %></button>
</div>

<div class="item_show_page">
  <p>
    <strong>Description:</strong>
    <%= @item.description %>
  </p>

  <p>
    <strong>Inbox:</strong>
    <%= @item.inbox.name %>
  </p>
</div>

<div class="nav_links">
  <button class="button" type="button"><%= link_to 'Add Another Item', new_inbox_item_path(@inbox) %></button>
  <button class="button" type="button"><%= link_to 'Back to Inbox', @inbox %></button>
  <button class="button" type="button"><%= link_to 'Back to Inboxes', inboxes_path %></button>
</div>
