<%= page_heading "Edit Reference Item" %>

<%= render 'form' %>

<div class="nav_links">
  <%= link_to 'Show Reference Item', folder_ref_item_path(@folder,@ref_item) %> |
  <%= link_to 'Back to Folder', @folder %> |
  <%= link_to 'Back to Folders', folders_path %>
</div>
