<%= page_heading "New Reference Item" %>

<%= render 'form' %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Folder', @folder %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Folders', folders_path %></button>
</div>
