<%= semantic_form_for @checklist, :html => { class: "checklist_form" } do |f| %>
  <% if @checklist.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@checklist.errors.count, "error") %> prohibited
        this checklist from being saved:
      </h2>
      <ul>
        <% @checklist.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.inputs do %>
    <% if form_location == "develop" %>
      <%= f.hidden_field :item_id, as: :hidden, value: item.id %>
    <% end %>
    <% if @checklist.deletable %>
      <%= f.input :name %>
      <%= f.input :description %>
    <% else %>
      <%= f.input :id, as: :hidden, value: @checklist.id %>
      <%= @checklist.name %>
      <br>
      <%= @checklist.description %>
    <% end %>
    <div id='checklist_items'>
      <%= f.semantic_fields_for :checklist_items do |item| %>
        <%= render 'checklists/checklist_item_fields', :f => item %>
      <% end %>
      <div class='links'>
        <button class="button" type="button"><%= link_to_add_association 'add item', f, :checklist_items, partial: "checklists/checklist_item_fields" %></button>
      </div>
    </div>

    <%= f.actions do %>
      <%= f.action :submit, :as => :input, :button_html => { class: "button", name: form_location } %>
    <% end %>
  <% end %>
<% end %>
