<p id="notice"><%= notice %></p>

<%= page_heading "#{@checklist.name}" %>

<div class="checklist_show_page">
  <p>
    <strong>Description:</strong>
    <%= @checklist.description %>
  </p>
</div>

<% if !(@checklist_items.empty?) %>
  <table class="checklist_items">
    <thead>
      <tr>
        <th>Items</th>
      </tr>
    </thead>

    <tbody>
      <% @checklist_items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

  <br>

<div class="nav_links">
  <% if @checklist.deletable %>
    <button class="button" type="button"><%= link_to 'Delete Checklist', @checklist, method: :delete, data: { confirm: 'Are you sure? All items on this checklist will be deleted too.' } %></button>
  <% end %>
  <button class="button" type="button"><%= link_to 'Edit Checklist', edit_checklist_path(@checklist) %></button>
  <button class="button" type="button"><%= link_to 'Back to Checklists', checklists_path %></button>
</div>
