<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width", maximum-scale=1.5" >
  <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
</head>
<body>
  <div class="header">
    <div class="menu_links">
    <% if !(current_page?('/')) %>
      <button class="button" type="button"><%= link_to 'Home', root_path %></button>
    <% end %>
    <% if current_user != nil %>
      <button class="button" type="button"><%= link_to 'Logout', logout_path %></button>
      <button class="button" type="button"><%= link_to 'Edit User Profile', edit_user_path(current_user) %></button>
    <% elsif current_page?(login_path) != true %>
      <button class="button" type="button"><%= link_to 'Login', login_path %></button>
    <% end %>
    </div>
  </div>
  <%= yield %>
</body>
</html>
