<div class="yes_one">
  <h3 class="do_it"> DO IT! </h3>
  <br>
  Now that you've done that action, you can:
  <br>
  <button class="button" type="button"><%= link_to "Delete Item", develop_inbox_path(@inbox, item: item, next_step: "delete"), data: { confirm: "Confirm deletion?" } %></button>
  <br>
  <button class="button" type="button"><%= link_to "Go to Next Item (without Deleting)", develop_inbox_path(@inbox, item: item, next_step: "next") %></button>
  <br>
  <br>
  For repeating actions, consider:
  <br>
  <button class="button" type="button"><%= link_to "Add to existing Checklist", develop_inbox_path(@inbox, item: item, next_step: "add_checklist") %></button>
  <button class="button" type="button"><%= link_to "Start a new Checklist", develop_inbox_path(@inbox, item: item, next_step: "make_checklist") %></button>
  <br>
  <button class="button" type="button"><%= link_to "Add as a Task to existing Project", develop_inbox_path(@inbox, item: item, next_step: "add_task") %></button>
  <button class="button" type="button"><%= link_to "Start a new Project", develop_inbox_path(@inbox, item: item, next_step: "start_project") %></button>
</div>
