<%= page_heading "Edit Inbox" %>

<%= render 'form' %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'Show Inbox', inbox_path(@inbox)  %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Inboxes', inboxes_path  %></button>
</div>
