<%= page_heading "Edit Bin" %>

<%= render 'form', button_name: "Save Bin" %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'Show Bin', inbox_path(@inbox)  %></button>
  <button class="button <%=@mode %>" type="button"><%= link_to 'Back to Bins', inboxes_path  %></button>
</div>
