<p id="notice"><%= notice %></p>

<%= page_heading "Bins" %>

<% if !(@inboxes.empty?) %>
  <table class="inboxes <%=@mode%>">
    <thead>
      <tr>
        <th>Bin Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @inboxes.each do |inbox| %>
        <tr>
          <td><%= link_to inbox.name, inbox %></td>
          <% if inbox.deletable %>
            <td><%= link_to 'Edit', edit_inbox_path(inbox) %></td>
            <td><%= link_to 'Delete', inbox, method: :delete, data: { confirm: 'Are you sure? All items associated with this bin will be reassigned to the General bin.' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<% end %>

<div class="nav_links">
  <button class="button <%=@mode %>" type="button"><%= link_to 'New Bin', new_inbox_path %></button>
</div>
