<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inbox.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @inbox.user %>
</p>

<%= link_to 'Edit', edit_inbox_path(@inbox) %> |
<%= link_to 'Back', inboxes_path %>
